*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 19, 19);
}


/* MENU */
.menu-container{
    color: black;
    background-color: rgb(255, 255, 140);
    padding: 10px 60px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
}
.menu-block{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    min-width: 100px;
    cursor: pointer;
}
.count{
    color: white;
    background-color: rgb(143, 9, 9);
    border-radius: 100%;
    margin-left: 5px;
    padding: 0 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
/* a:link{
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color:black;
}
a:hover{
    color: navy;
} */


/* HOME */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

}
.logoImage{
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dot{
    background-color: black;
}

/* RECIPES */
.title{
    background-color: rgb(255, 255, 140);
    color: rgb(26, 26, 26);
    text-align: center;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
#recipesBreakfast,
#recipesLunch,
#recipesSnacks,
#recipesDinner{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.titleOfRecipe{
    background-color: rgb(204, 204, 204);
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;

}
.expand{
    padding: 10px 20px;
    
}
.image{
    width: 300px;
    transition: all .2s ease-in-out; 
}
.image:hover { 
    transform: scale(1.04); 
}
.description{
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 199);
    list-style-position: inside;

}
button{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(204, 204, 204);
    border-radius: 40%;
    font-size: 15px;
}
a{
font-size: 20px;
max-width: 300px;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
}






/* Footer */
.footer{
    color: black;
    background-color: rgb(255, 255, 140);
    padding: 10px 20px;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}



/* SLIDESHOW */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.mySlides {
    margin-top: 20px;
    display: none;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-bottom: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}


/* SHOPPING */
.shoppingListImage{
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleForShopping{
    /* font-family: Garamond, serif; */
    font-weight: lighter;
    background-color: rgba(204, 204, 204, 0.507);
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
}

h2{
    font-weight: lighter;
    font-size: medium;
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 5px;
}

.add-items{
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 5px;
}


.container{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
   
}

.sidebar{
    margin-top: 20px;
    margin-left: -15px;
    align-items: left;
    min-width: 300px;
    
}


/* .all-ingredients h2, .ingredients, .shopping-list h2{
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    width: 200px;
    height: 50px;
    border: 1px solid black;
} */

input[type=checkbox] {
    border: 1px solid black;
    margin-left: 60px;
    margin-top: 5px;
    display: block;
    position: absolute;
}