*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* INDEX */
/* Menu */
.menu-container{
    color: black;
    background-color: rgb(255, 255, 140);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2em;
}

.menu-block{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    min-width: 100px;
    cursor: pointer;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color:black;
}
a:hover{
    color: navy;
}


/* Contents */
.main, image{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */
.footer{
    color: black;
    background-color: rgb(255, 255, 140);
    padding: 10px 20px;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}


/* SHOPPING */
.container{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
}

.sidebar{
    align-items: left;
    min-width: 200px;
}
